.main-header {
  height: calc(100vh + 5rem);
  width: 100%;
  display: grid;
  place-items: center;
  /* margin-top: 5rem; */
}
.main-header-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.main-heare-left h4 {
  margin-bottom: 1rem;
  font-weight: 400;
}
.main-heare-left img {
  width: 15rem;
}
.main-heare-left p {
  margin: 1rem 0 3rem;
  font-size: 1.1rem;
}
.main-heare-right {
  display: grid;
  place-items: center;
  position: relative;
}
.main-header-crcle {
  width: 25rem;
  height: 25rem;
  background: var(--color-second);
  border-radius: 0 5rem;
  position: absolute;
  filter: blur(0.05rem);
}
.main-header-image {
  position: relative;
}

/* ================AbtInfo================= */

.abt-info {
  /* display: grid;
  place-items: center; */
  margin-top: 4rem;
}
.abt-info-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.abt-info-card a {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

/* ================About================= */

.about-container {
  display: grid;
  grid-template-columns: 38% 50%;
  gap: 12%;
}

/* .about-image {
  display: grid;
  place-items: center;
  transform: translateY(-5%);
  transition: var(--transition);
} */
/* .about-image:hover {
  transform: translateY(1%);
} */
/* .about-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

.about-right > p {
  margin: 1.5rem 0 5rem;
}
.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 2rem;
}
.card.about-about {
  position: relative;
  padding-top: 2.2rem;
  text-align: left;
}
.card.about-about span {
  position: absolute;
  top: -1.5rem;
}

/* ================FAQ================= */

.faqs-wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 5rem;
  align-items: flex-start;
}
.faq {
  background: var(--color-second-1);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.faq div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq p {
  margin-top: 1.5rem;
}
.faq-icon {
  background: transparent;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

/* ================Testimonials================= */

.testimonials {
  width: 50rem;
  margin-inline: auto;
}
.testimonials-head {
  justify-content: center;
}
.card.testimonial {
  position: relative;
  text-align: left;
}
.testmonial-avatar img {
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  overflow: hidden;
  position: absolute;
  top: -2rem;
  left: calc(50% - 2rem);
  box-shadow: 0 0.5rem 2rem #0000008e;
}
