nav {
  height: 5rem;
  width: 100%;
  background: var(--color-second);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.nav-toggle-btn {
  display: none;
}
.nav-container {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo img {
  width: 10rem;
}
.nav-links {
  display: flex;
  gap: 2.5rem;
}
