* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --color-main: #fff0f5;
  --color-second: #e9b336;
  --color-accent: #e27908;
  --color-text-1: #fff;
  --color-text-2: #000;
  --color-text-hover: #0011ff;
  --transition: 0.5s;
}
body {
  font-family: "Open Sans", sans-serif;
  background: var(--color-main);
}
.container {
  max-width: 1424px;
  padding: 0 3rem;
}
a {
  color: var(--color-text-1);
}
.btn {
  width: fit-content;
  margin: 0 auto;
  background-color: var(--color-second);
  transition: var(--transition);
}
.btn:hover {
  color: var(--color-text-hover);
  background-color: var(--color-accent);
}
.btn.lg {
  padding: 0.8rem 2.5rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}
.btn.sm {
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  font-size: 0.9rem;
}
