* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --color-main: #b57ee2;
  --color-second: #e9b336;
  --color-second-1: #f3d182;
  --color-second-2: #ffecc0;
  --color-accent: #e27908;
  --color-text-1: #fff;
  --color-text-2: #000;
  --color-text-hover: #0011ff;
  --transition: 0.5s;
}
body {
  font-family: "Open Sans", sans-serif;
  background: var(--color-main);
  color: var(--color-text-1);
}
.container {
  max-width: 1424px;
  padding: 0 3rem;
  margin: auto;
}
a {
  color: var(--color-text-1);
}
.btn {
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--color-second);
  transition: var(--transition);
}
.btn:hover {
  color: var(--color-text-hover);
  background-color: var(--color-accent);
}
.btn.lg {
  padding: 0.8rem 2.5rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}
.btn.sm {
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  font-size: 0.9rem;
}

section {
  margin-top: 10rem;
}
.section-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 3rem;
}
.section-head span {
  padding: 0.8rem;
  font-size: 1.4rem;
  color: var(--color-accent);
  background-color: var(--color-second-1);
  border-radius: 1rem;
}
.card {
  background: var(--color-second-1);
  border: 2px solid transparent;
  text-align: center;
  padding: 2rem 1.5rem;
  border-radius: 0 3rem 0 3rem;
  transition: var(--transition);
}
.card:hover {
  border: 1px solid var(--color-accent);
}
.card span {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  color: #fff;
  background: var(--color-second);
  padding: 0.6rem;
  border-radius: 1.1rem;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  margin-inline: auto;
  transition: var(--transition);
}
.card:hover span {
  border: 1px solid var(--color-accent);
}
.card small {
  margin-top: 1rem;
  display: block;
  font-weight: 300;
}
